.padTop10
{
	padding-top:10px;	
}

.padTop30
{
	padding-top:30px;	
}

.padTop50
{
	padding-top:70px;
	padding-bottom: 70px;	
}
.padTop20takim
{
	margin-top: 10px;
	
}


body {
    padding-top: 10px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

div.ust
{
background-image:url(../images/foto1.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

div.ustTakim
{
background-image:url(../images/ts.jpg);
min-height: 100px;
 background-repeat: no-repeat;
 background-size: cover;
}

div.sehirust
{
background-image:url(../images/bilecik_bolge.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 min-height: 300px;
}

div.sehirustmuze
{
background-image:url(../images/muzedis.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 min-height: 300px;
}

div.harmankayaust
{
background-image:url(../images/harmankaya2.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 min-height: 300px;
}

div.iletisimsol
{
background-image:url(../images/iletisim.jpg);
 background-size: cover;
 max-height: 500px;
}
/*=========================
  social media
 ================= */

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoFacebook {
	background-color:#3B5998;
}
.social-network a.icoTwitter {
	background-color:#33ccff;
}
.social-network a.icoLinkedin {
	background-color:#007bb7;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 30px;
	height: 30px;
	font-size:15px;
}
.social-circle li i {
	margin:0;
	line-height:30px;
	text-align: center;
}

.social-circle i {
	color: #fff;

}

ul.social-network li a {
 background-color: #D3D3D3;   
} 



@media (min-width: 576px){
  .modal-dialog {
    max-width: 400px;
    
    .modal-content {
      padding: 1rem;
    }
  }
}

.modal-header {
  .close {
    margin-top: -1.5rem;
  }
}

.form-title {
  margin: -2rem 0rem 2rem;
}

.btn-round {
  border-radius: 3rem;
}

.delimiter {
  padding: 1rem;  
}

.social-buttons {
  .btn {
    margin: 0 0.5rem 1rem;
  }
}

.signup-section {
  padding: 0.3rem 0rem;
}